<div class="container">
  <div class="row">
    <div class="col">
      <ul>
        <li>
          <!--Sort Products with query param-->
          <a
            [routerLink]="['/products']"
            [queryParams]="{ sort: 'desc' }"
            (click)="sortDesc()"
            >DESC</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/products']"
            [queryParams]="{ sort: 'asc' }"
            (click)="sortDesc()"
            >ASC</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <!---Products List-->
          <tr *ngFor="let product of allproduct">
            <th scope="row">{{ product.title }}</th>
            <td>{{ product.category }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td><img width="100" src="{{ product.image }}" /></td>
            <td>
              <!--Get Product With Id-->
              <a routerLink="/product/{{ product.id }}">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
