<div class="container">
  <div class="row d-flex align-items-center justify-content-center">
    <div
      class="col col-md-12 d-flex flex-column min-vh-100 justify-content-center align-items-center"
    >
      <div *ngIf="isLoading"><app-loadingspinner></app-loadingspinner></div>
      <form
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading"
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            ngModel
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            ngModel
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
        >
          Login
          <!-- {{ isLoginMode ? "Login" : "Sign Up" }} -->
        </button>
        <!-- |
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button> -->
        <p>username: "mor_2314", password: "83r5^_"</p>
        <div
          *ngIf="errorShow"
          class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3"
        >
          {{ error }}
        </div>
      </form>
    </div>
  </div>
</div>
